$black: #000000;
$white: #ffffff;
$gray: #efefef;
$darkgray: #666666;
$sigmarOne: "Sigmar One";
$poppins: "Poppins";

body {
    font-family: $poppins;

    a {
        text-decoration: none;
    }
}

.header-primary {
    color: $black;
    font-size: 24px;
    font-weight: bold;
}

.basic-card-tutorial {
    img {
        float: left;
        width: 270px;
        height: 200px;
        margin-right: 20px;
        border-radius: 16px;
    }

    .information {
        margin-top: 18px;

        .date {
            font-size: 12px;
            color: $darkgray;
        }
    }

    .title {
        font-size: 22px;
        font-weight: 500;
        color: $black;
        line-height: 32px;
    }

    .description {
        color: $darkgray;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
    }
}

.clear {
    clear: both;
}

.logo {
    font-size: 55px;
    color: $black;
    font-family: $sigmarOne;
    font-weight: bold;
}

.float-left {
    float: left;
}

.popular {
    .item {
        img {
            border-radius: 18px;
            margin-bottom: 20px;
        }

        .information {
            .date {
                font-size: 12px;
                color: $darkgray;
            }
        }

        .title {
            font-size: 26px;
            font-weight: 500;
            color: $black;
        }
    }
}

.badge {
    padding: 7px 10px 7px 10px;
    border-radius: 12px;
    background: $gray;
    color: $darkgray;
    font-weight: 500;
}
